
{% extends "templateAll.html"%}
{% load static %}

{% block titulo%}
    Acerca de SesameLock
{% endblock %}

{% block links %}

{% endblock %}

{% block contenido %}
    <div class="blockContainer">
        <div class="block">
            <div class="half">
                <p>
                    Imagina un sistema de acceso moderno, seguro y sin complicaciones. 
                    SesameLock es la solución que redefine la seguridad residencial con 
                    tecnología de última generación.
                </p>
                <p>
                    Nuestro sistema combina autenticación NFC, autorización remota y 
                    reconocimiento facial para ofrecer un control de acceso confiable y 
                    eficiente. Olvídate de las llaves tradicionales y administra quién 
                    entra y sale de tu propiedad desde cualquier lugar con nuestra 
                    aplicación web y móvil.
                </p>
                <p>
                    Diseñado para hogares, SesameLock garantiza una experiencia 
                    intuitiva, adaptable y completamente segura. Tu tranquilidad está a 
                    un solo toque de distancia.
                </p>
            </div>
        </div>
        <div class="block">
            <div class="half">
                <div class="image">
                    <img src="{% static 'images/SesameLockNegro.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="block">
            <div class="full">
                <h1 style="text-align: center;">
                    Seguridad sin esfuerzo. Control total.
                </h1>
                <h1 style="text-align: center;">
                    Bienvenido a SesameLock.
                </h1>
            </div>
        </div>
    </div>
{% endblock %}