
{% extends "templateAll.html"%}
{% load static %}

{% block titulo%}
    Estadísticas
{% endblock %}

{% block links %}

{% endblock %}

{% block contenido %}
<div class="blockContainer">
    <div class="block">
        <div class="half">
            <h1>Entradas registradas</h1>
            <div class="camera">

            </div>
            <h2>¡Vincula tu dispositivo para acceder a todas las funciones!</h2>
        </div>
    </div>
    <div class="block">
        <div class="half">
            <h1>Salidas registradas</h1>
            
        </div>
    </div>
    <div class="block">
        <div class="quarter">
            <h1>Día con más entradas</h1>
            <h2>Día</h2>
            <h2>dd/mm/yyyy</h2>
            <h2>X entradas</h2>
        </div>
    </div>
    <div class="block">
        <div class="quarter">
            <h1>Día con más salidas</h1>
            <h2>Día</h2>
            <h2>dd/mm/yyyy</h2>
            <h2>X entradas</h2>
        </div>
    </div>
    <div class="block">
        <div class="half">
            <h1>Persona con más registros</h1>
            <h2>Usuario X</h2>
            <h2>X registros</h2>
        </div>
    </div>
</div>
{% endblock %}