
{% extends "templateAll.html"%}
{% load static %}

{% block titulo%}
    SesameLock
{% endblock %}

{% block links %}


{% endblock %}

{% block contenido %}

<div class="welcome">
    <h1>Bienvenido de nuevo, {{ name }}</h1>
</div>


{% if success_message %}
    <div class="alert alert-success" style="width: 50%; text-align: center; z-index: 999; position: fixed; top: 0;" id="success-alert">
        {{ success_message }}
        <script>
            setTimeout(function() {
                var successbox = document.getElementById("success-alert");
                if (successbox) {
                    successbox.style.transition = "opacity 0.75s";
                    successbox.style.opacity = "0";
                    setTimeout(() => successbox.remove(), 500); 
                }
            }, 3000); 
        </script>
    </div>
{% endif %}

{% if error_message %}
    <div class="alert alert-danger" style="width: 50%; text-align: center ; z-index: 999; position: fixed; top: 0;" id="error-alert">
        {{ error_message }}
        <script>
            setTimeout(function() {
                var alertBox = document.getElementById("error-alert");
                if (alertBox) {
                    alertBox.style.transition = "opacity 0.75s";
                    alertBox.style.opacity = "0";
                    setTimeout(() => alertBox.remove(), 500); 
                }
            }, 3000); 
        </script>
    </div>
{% endif %}

<div class="blockContainer">
    <div class="block">
        <div class="half">
            <h1>Invitados <span style="margin-left: 60%;"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-guests" style="margin-top: -1%;">
                ¡Agregar invitados!
            </button></span></h1>
            
            <div class="users">
                {% if Invitados %}
                    {% for invitado in Invitados%}
                        <div class="usercard">
                        
                            <img src="{% static 'images/profile.jpg' %}" alt="Profile">
                        
                            <div class="text">
                                <h2> {{ invitado }}</h2>
                                <a href="?eliminar={{ invitado|urlencode }}" class="delete_guest"> Eliminar</a>
                            </div>
                            
                        </div>
                    
                    {% endfor %}
                {% else %}
                    <h2>No hay invitados</h2>
                {% endif %}
            </div>
            
        </div>

        
    </div>
    <div>
        <div class="block">
            <div class="quarter">
                <h1>Agrega el ID de tu dispositivo</h1>
                <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#id-device" style="margin-left: 10%;">
                    ¡Haz click aqui!
                </button>
            </div>
        </div>
        <div class="block">
            <div class="quarter">
                {% if ultimo_acceso %}
                    <h1>Último acceso</h1>
                    <h2>Clave: {{ ultimo_acceso.clave }}</h2>
                    <h2>{{ ultimo_acceso.timestamp|date:"d F Y" }}</h2>
                    <h2>{{ ultimo_acceso.timestamp|date:"h:i A" }}</h2>
                {% else %}
                    <h2>No hay accesos registrados.</h2>
                {% endif %}
            </div>
        </div>
        <div class="block">
            <div class="half">
                <h1>Última alerta</h1>
                {% if ultima_alerta %}
                    <h2>Sujeto desconocido detectado el {{ ultima_alerta.timestamp|date:"d F Y - h:i A" }}.</h2>
                {% else %}
                    <h2>No hay alertas registradas.</h2>
                {% endif %}
            </div>
        </div>

    </div>
    
</div>

<div class="modal fade" id="id-device" tabindex="-1" aria-labelledby="id-deviceLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ide-deviceLabel">Ingresa el ID de tu dispositivo SesameLock</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <form method="POST" action="/registerDevice/">
            {% csrf_token %}
            <div class="modal-body">
                <input type="text" class="input_id" name="device_id">
                <h5 class="modal-title" id="id-deviceLabel">Ingresa un codigo para tu dispositivo</h5>
                <input type="text" class="input_id" name="share_code">
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Enviar</button>
              </div>
        </form>
        
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="add-guests" tabindex="-1" aria-labelledby="add-guestsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ingresa el nombre de un invitado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <form method="POST" action="/addGuests/">
            {% csrf_token %}
            <div class="modal-body">
                <input type="text" class="input_id" name="guest_name">
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Enviar</button>
              </div>
        </form>
        
      </div>
    </div>
  </div>

</div>



    

{% endblock %}