
{% extends "templateAll.html"%}
{% load static %}

{% block titulo%}
    SesameLock
{% endblock %}

{% block links %}

{% endblock %}

block

{% block contenido %}

<div class="blockContainer">
    <div class="block">
        <div class="half">
            <h1>Cámara</h1>
            <div class="camera">

            </div>
            <h2>¡Vincula tu dispositivo para acceder a todas las funciones!</h2>
        </div>
    </div>
    <div class="block">
        <div class="half">
            <h1>Invitados</h1>
            <div class="users">
                <div class="usercard">
                    <img src="{% static 'images/profile.jpg' %}" alt="Profile">
                    <div class="text">
                        <h2>Usuario</h2>
                        <h3>Permiso</h3>
                    </div>
                </div>
                <div class="usercard">
                    <img src="{% static 'images/profile.jpg' %}" alt="Profile">
                    <div class="text">
                        <h2>Usuario</h2>
                        <h3>Permiso</h3>
                    </div>
                </div>
                <div class="usercard">
                    <img src="{% static 'images/profile.jpg' %}" alt="Profile">
                    <div class="text">
                        <h2>Usuario</h2>
                        <h3>Permiso</h3>
                    </div>
                </div>
                <div class="usercard">
                    <img src="{% static 'images/profile.jpg' %}" alt="Profile">
                    <div class="text">
                        <h2>Usuario</h2>
                        <h3>Permiso</h3>
                    </div>
                </div>
                <div class="usercard">
                    <img src="{% static 'images/profile.jpg' %}" alt="Profile">
                    <div class="text">
                        <h2>Usuario</h2>
                        <h3>Permiso</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="quarter">
            <h1>Última entrada</h1>
            <h2>Usuario X</h2>
            <h2>dd/mm/yyyy</h2>
            <h2>00:00 X.X.</h2>
        </div>
    </div>
    <div class="block">
        <div class="quarter">
            <h1>Última salida</h1>
            <h2>Usuario X</h2>
            <h2>dd/mm/yyyy</h2>
            <h2>00:00 X.X.</h2>
        </div>
    </div>
    <div class="block">
        <div class="half">
            <h1>Última alerta</h1>
            <h2>Sujeto desconocido detectado el 15 de Febrero. Hora: 02:43 P.M.</h2>
        </div>
    </div>
</div>
{% endblock %}