{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        ¡Bienvenido!
    </title>

    <link rel="icon" type="image/png" href="{% static 'images/SesameLockBlanco.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/lp.css'%}">
</head>
<body>
    <nav class="navbar">
            <a href="#">Registrarse</a>
            <a href="#">Iniciar sesión</a>
    </nav>

    <div class="blockContainer">
        <div class="block">
            <div class="half">
                <p>
                    Imagina un sistema de acceso moderno, seguro y sin complicaciones. 
                    SesameLock es la solución que redefine la seguridad residencial con 
                    tecnología de última generación.
                </p>
                <p>
                    Nuestro sistema combina autenticación NFC, autorización remota y 
                    reconocimiento facial para ofrecer un control de acceso confiable y 
                    eficiente. Olvídate de las llaves tradicionales y administra quién 
                    entra y sale de tu propiedad desde cualquier lugar con nuestra 
                    aplicación web y móvil.
                </p>
                <p>
                    Diseñado para hogares, SesameLock garantiza una experiencia 
                    intuitiva, adaptable y completamente segura. Tu tranquilidad está a 
                    un solo toque de distancia.
                </p>
            </div>
        </div>
        <div class="block">
            <div class="half">
                <div class="image">
                    <img src="{% static 'images/SesameLockBlanco.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="block">
            <div class="full">
                <h1>
                    Seguridad sin esfuerzo. Control total.
                </h1>
                <h1>
                    Bienvenido a SesameLock.
                </h1>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>