
{% extends "templateForms.html"%}
{% load static %}

{% block titulo%}
    Login
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/form.css'%}">
{% endblock %}

{% block contenido %}
<div class="form-container">
    <br>
    <h1 style="font-weight: bold;">Iniciar Sesión</h1>
    <form id="loginForm" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="text" id="email" name="email" placeholder="Ingresa tu correo">
        <span class="error-message" id="email Error"></span>
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña">
        <span class="error-message" id="passwordError"></span>
    </div>
    <button type="submit">Iniciar Sesión</button>
    </form>
    <p>¿No tienes una cuenta? <a href="{%url 'signup'%}">Regístrate aquí</a>.</p>
</div>

<div>
    <img src= "{% static 'images/SesameLockBlanco.png' %}" alt="sesameLogo" class="decorative-image"><span><h2 class = "decorative-image" style="margin-left: 7%; color: white; font-weight:bold">SesameLock</h2></span>
    
  </div>
{% endblock %}