
{% extends "templateAll.html"%}
{% load static %}

{% block titulo%}
    Salidas
{% endblock %}

{% block links %}

{% endblock %}

{% block contenido %}
<div class="blockContainer">
    <div class="block">
        <div class="full">
            <h1>Salidas</h1>
            <div class="users">
                <div class="usercard">
                    <img src="{% static 'images/profile.jpg' %}" alt="Profile">
                    <div class="text">
                        <h2>Usuario</h2>
                        <h3>Permiso</h3>
                    </div>
                </div>
                <div class="usercard">
                    <img src="{% static 'images/profile.jpg' %}" alt="Profile">
                    <div class="text">
                        <h2>Usuario</h2>
                        <h3>Permiso</h3>
                    </div>
                </div>
                <div class="usercard">
                    <img src="{% static 'images/profile.jpg' %}" alt="Profile">
                    <div class="text">
                        <h2>Usuario</h2>
                        <h3>Permiso</h3>
                    </div>
                </div>
                <div class="usercard">
                    <img src="{% static 'images/profile.jpg' %}" alt="Profile">
                    <div class="text">
                        <h2>Usuario</h2>
                        <h3>Permiso</h3>
                    </div>
                </div>
                <div class="usercard">
                    <img src="{% static 'images/profile.jpg' %}" alt="Profile">
                    <div class="text">
                        <h2>Usuario</h2>
                        <h3>Permiso</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}