
{% extends "template.html"%}
{% load static %}

{% block titulo%}
    Signup
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/signup.css'%}">
{% endblock %}

{% block contenido %}

<div class="signup_box">
    <h1>Registro</h1>
    <p>Nombre y apellido</p>
    <input type="text" placeholder="Ingresa tu nombre">
    <input type="text" placeholder="Ingresa tu apeliido">
    <p>Correo electronico</p>
    <input type="text" placeholder="Ingresa tu correo">
    <p>Contrasena</p>
    <input type="text" placeholder="Ingresa tu contrasena">
    <p>Confirmar contrasena</p>
    <input type="text" placeholder="Confirmar tu contrasena">
    <br>
    <button type="submit">Registrarse</button>
    <p>Ya tienes una cuenta ? <a href="">Inicia sesion aqui</a></p>
</div>

{% endblock %}